[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "spflog"]
	path = spflog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/concurrentqueue"]
	path = thirdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "thirdparty/bitsery"]
	path = thirdparty/bitsery
	url = https://github.com/fraillt/bitsery.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/bgfx"]
	path = thirdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/rmlui"]
	path = thirdparty/rmlui
	url = https://github.com/mikke89/RmlUi.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/rectpack2D"]
	path = thirdparty/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = https://github.com/ThePhD/sol2.git
